body {
  font-family: 'gg sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  --primary-background: 	#313338;
  --primary-background-hover: #3d3e43;
    --secondary-background: #2c2d32;
  --secondary-background-hover: #2e3035;
  --button-background: #393a3f;
    --button-background-hover: #414249;
  --discord-dark: #1e1f22;
  --discord-darker: #111214;
  --blurple: #5865F2;
  --green: #219c55;
  --yellow: #FEE75C;
  --red: #f23f42;
  --fuchsia: #EB459E;
  --border-color: #3d3d42;
  --primary-text: #f2f3f5;
  --secondary-text: #adaeb3;
  --scrollbar-color: #74757e;
  --white: #ffffff;
  --black: #000000;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
-webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Standard Syntax */
}

.emoji {
  font-family: 'emoji';
}

* {
  color: var(--white);

  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}